### Import libraries

In [1]:
import matplotlib.pyplot as plt
import numpy as np
from mplsoccer import Pitch, Sbopen

### Open the data and create a data frame

In [2]:
parser = Sbopen()
df, related, freeze, tactics = parser.event(69301)

In [3]:
df.shape

(3291, 74)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3291 entries, 0 to 3290
Data columns (total 74 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              3291 non-null   object
 1   index                           3291 non-null   int64
 2   period                          3291 non-null   int64
 3   timestamp                       3291 non-null   object
 4   minute                          3291 non-null   int64
 5   second                          3291 non-null   int64
 6   possession                      3291 non-null   int64
 7   duration                        2457 non-null   float64
 8   match_id                        3291 non-null   int64
 9   type_id                         3291 non-null   int64
 10  type_name                       3291 non-null   object
 11  possession_team_id              3291 non-null   int64
 12  possession_team_name            3291 non-null   object
 13  play_pattern_id                 3291 non-null   int64
 14  play_pattern_name               3291 non-null   object
 15  team_id                         3291 non-null   int64
 16  team_name                       3291 non-null   object
 17  tactics_formation               4 non-null      float64
 18  player_id                       3279 non-null   float64
 19  player_name                     3279 non-null   object
 20  position_id                     3279 non-null   float64
 21  position_name                   3279 non-null   object
 22  pass_recipient_id               834 non-null    float64
 23  pass_recipient_name             834 non-null    object
 24  pass_length                     921 non-null    float64
 25  pass_angle                      921 non-null    float64
 26  pass_height_id                  921 non-null    float64
 27  pass_height_name                921 non-null    object
 28  end_x                           1713 non-null   float64
 29  end_y                           1713 non-null   float64
 30  body_part_id                    939 non-null    float64
 31  body_part_name                  939 non-null    object
 32  sub_type_id                     318 non-null    float64
 33  sub_type_name                   318 non-null    object
 34  x                               3266 non-null   float64
 35  y                               3266 non-null   float64
 36  under_pressure                  640 non-null    float64
 37  outcome_id                      503 non-null    float64
 38  outcome_name                    503 non-null    object
 39  out                             31 non-null     float64
 40  counterpress                    88 non-null     float64
 41  pass_deflected                  1 non-null      object
 42  pass_switch                     22 non-null     object
 43  technique_id                    37 non-null     float64
 44  technique_name                  37 non-null     object
 45  pass_cross                      34 non-null     object
 46  off_camera                      25 non-null     float64
 47  shot_statsbomb_xg               19 non-null     float64
 48  end_z                           15 non-null     float64
 49  shot_first_time                 5 non-null      object
 50  goalkeeper_position_id          19 non-null     float64
 51  goalkeeper_position_name        19 non-null     object
 52  ball_recovery_recovery_failure  10 non-null     object
 53  pass_assisted_shot_id           10 non-null     object
 54  pass_shot_assist                8 non-null      object
 55  shot_key_pass_id                10 non-null     object
 56  foul_won_defensive              5 non-null      object
 57  aerial_won                      30 non-null     object
 58  pass_goal_assist                2 non-null      object
 59  substitution_replacement_id     6 non-null      float64
 60  substitution_replacement_name   6 non-null      object
 61  foul_committed_offensive        2 non-null      object
 62  shot_one_on_one                 1 non-null      object
 63  dribble_overrun                 1 non-null      object
 64  block_deflection                2 non-null      object
 65  pass_cut_back                   1 non-null      object
 66  bad_behaviour_card_id           1 non-null      float64
 67  bad_behaviour_card_name         1 non-null      object
 68  pass_no_touch                   1 non-null      object
 69  block_save_block                1 non-null      object
 70  foul_committed_advantage        1 non-null      object
 71  foul_won_advantage              1 non-null      object
 72  foul_committed_card_id          1 non-null      float64
 73  foul_committed_card_name        1 non-null      object
dtypes: float64(26), int64(10), object(38)
memory usage: 1.9+ MB

In [5]:
df.head()

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,block_deflection,pass_cut_back,bad_behaviour_card_id,bad_behaviour_card_name,pass_no_touch,block_save_block,foul_committed_advantage,foul_won_advantage,foul_committed_card_id,foul_committed_card_name
0,e8643796-c76d-44f5-a03d-fa742e051942,1,1,00:00:00,0,0,1,0.00000,69301,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,937f83f8-674d-4c58-81d5-e2101a9f2e60,2,1,00:00:00,0,0,1,0.00000,69301,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,87ba272a-3af0-4fc7-872f-65e8f79fb753,3,1,00:00:00,0,0,1,0.00000,69301,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,85d30bef-8b77-405e-bc64-c63ed4d7a6d7,4,1,00:00:00,0,0,1,0.00000,69301,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,760528a6-2de2-427f-9795-b2b19819ef1f,5,1,00:00:00.140000,0,0,2,0.16873,69301,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Filter the data frame so only passes are left (and remove throw-ins)

In [6]:
passes = df.loc[df['type_name'] == 'Pass'].loc[df['sub_type_name'] != 'Throw-in'].set_index('id')

In [10]:
passes.head()

,index,period,timestamp,minute,second,possession,duration,match_id,type_id,type_name,...,block_deflection,pass_cut_back,bad_behaviour_card_id,bad_behaviour_card_name,pass_no_touch,block_save_block,foul_committed_advantage,foul_won_advantage,foul_committed_card_id,foul_committed_card_name
id,,,,,,,,,,,,,,,,,,,,,
760528a6-2de2-427f-9795-b2b19819ef1f,5,1,00:00:00.140000,0,0,2,0.168730,69301,30,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ecec23b8-f03d-4bee-80df-9fabec558187,9,1,00:00:05.143000,0,5,2,1.173625,69301,30,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bdedb943-ddac-42ab-bc8b-756faa49d9e6,12,1,00:00:07.844000,0,7,2,1.019100,69301,30,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456a1ae6-1fe8-4ffc-952b-152a7f89e1d2,15,1,00:00:10.586000,0,10,2,0.700000,69301,30,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
a8d0155f-260c-4470-b842-b474ea58ffa7,19,1,00:00:11.326000,0,11,2,4.150000,69301,30,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Iterative solution pass match

1. Draw the pitch
2. Next, iterate through the passes. Check if a pass was made by Lucy Bronze. 
3. If so, take the starting coordinates of a pass and plot a circle. 
4. Then, subtract the coordinates beginning of the pass from the end of passes in order to draw pass arrows.