### Load libraries

In [1]:
from mplsoccer import Sbopen
from pathlib import Path

#open data with Sbopen parser
parser = Sbopen()

#### Set the path

In [2]:
path = Path('//Users//curtispond//Documents//soccermatics//football//statsbomb//data//data')    
list(path.iterdir())

[PosixPath('//Users/curtispond/Documents/soccermatics/football/statsbomb/data/data/lineups'),
 PosixPath('//Users/curtispond/Documents/soccermatics/football/statsbomb/data/data/three-sixty'),
 PosixPath('//Users/curtispond/Documents/soccermatics/football/statsbomb/data/data/matches'),
 PosixPath('//Users/curtispond/Documents/soccermatics/football/statsbomb/data/data/competitions.json'),
 PosixPath('//Users/curtispond/Documents/soccermatics/football/statsbomb/data/data/events')]

#### List files

In [3]:
[f for f in Path(path).iterdir() if f.is_file()] # use is_dir() if you want the directories

[PosixPath('//Users/curtispond/Documents/soccermatics/football/statsbomb/data/data/competitions.json')]

In [4]:
df_competition = parser.competition()
df_competition.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,16,4,Europe,Champions League,male,False,False,2018/2019,2022-08-14T16:57:15.866765,2021-06-13T16:17:31.694,None,2022-08-14T16:57:15.866765
1,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
2,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00

In [5]:
df_competition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             42 non-null     int64
 1   season_id                  42 non-null     int64
 2   country_name               42 non-null     object
 3   competition_name           42 non-null     object
 4   competition_gender         42 non-null     object
 5   competition_youth          42 non-null     bool
 6   competition_international  42 non-null     bool
 7   season_name                42 non-null     object
 8   match_updated              42 non-null     object
 9   match_updated_360          41 non-null     object
 10  match_available_360        3 non-null      object
 11  match_available            42 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 3.5+ KB

In [6]:
df_competition.shape

(42, 12)

#### Do we have Barcenlona from 2008 to 2012?

In [7]:
min(df_competition['season_name'])

'1999/2000'

In [8]:
df_competition['season_name'].values

array(['2018/2019', '2017/2018', '2016/2017', '2015/2016', '2014/2015',
       '2013/2014', '2012/2013', '2011/2012', '2010/2011', '2009/2010',
       '2008/2009', '2006/2007', '2004/2005', '2003/2004', '1999/2000',
       '2020/2021', '2019/2020', '2018/2019', '2018', '2021/2022',
       '2020/2021', '2019/2020', '2018/2019', '2017/2018', '2016/2017',
       '2015/2016', '2014/2015', '2013/2014', '2012/2013', '2011/2012',
       '2010/2011', '2009/2010', '2008/2009', '2007/2008', '2006/2007',
       '2005/2006', '2004/2005', '2018', '2003/2004', '2020', '2022',
       '2019'], dtype=object)

In [9]:
df_competition['competition_name'].values

array(['Champions League', 'Champions League', 'Champions League',
       'Champions League', 'Champions League', 'Champions League',
       'Champions League', 'Champions League', 'Champions League',
       'Champions League', 'Champions League', 'Champions League',
       'Champions League', 'Champions League', 'Champions League',
       "FA Women's Super League", "FA Women's Super League",
       "FA Women's Super League", 'FIFA World Cup', 'Indian Super league',
       'La Liga', 'La Liga', 'La Liga', 'La Liga', 'La Liga', 'La Liga',
       'La Liga', 'La Liga', 'La Liga', 'La Liga', 'La Liga', 'La Liga',
       'La Liga', 'La Liga', 'La Liga', 'La Liga', 'La Liga', 'NWSL',
       'Premier League', 'UEFA Euro', "UEFA Women's Euro",
       "Women's World Cup"], dtype=object)

#### Select Champions League 2008/2009 (competition_id = 16, season_id=41)

In [10]:
# Open data using the match method
df_match = parser.match(competition_id=16, season_id=41)
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   match_id                         1 non-null      int64
 1   match_date                       1 non-null      datetime64[ns]
 2   kick_off                         1 non-null      datetime64[ns]
 3   home_score                       1 non-null      int64
 4   away_score                       1 non-null      int64
 5   match_status                     1 non-null      object
 6   match_status_360                 1 non-null      object
 7   last_updated                     1 non-null      datetime64[ns]
 8   last_updated_360                 1 non-null      datetime64[ns]
 9   match_week                       1 non-null      int64
 10  competition_id                   1 non-null      int64
 11  country_name                     1 non-null      object
 12  competition_name                 1 non-null      object
 13  season_id                        1 non-null      int64
 14  season_name                      1 non-null      object
 15  home_team_id                     1 non-null      int64
 16  home_team_name                   1 non-null      object
 17  home_team_gender                 1 non-null      object
 18  home_team_group                  0 non-null      object
 19  home_team_country_id             1 non-null      int64
 20  home_team_country_name           1 non-null      object
 21  home_team_managers_id            1 non-null      int64
 22  home_team_managers_name          1 non-null      object
 23  home_team_managers_nickname      1 non-null      object
 24  home_team_managers_dob           1 non-null      datetime64[ns]
 25  home_team_managers_country_id    1 non-null      int64
 26  home_team_managers_country_name  1 non-null      object
 27  away_team_id                     1 non-null      int64
 28  away_team_name                   1 non-null      object
 29  away_team_gender                 1 non-null      object
 30  away_team_group                  0 non-null      object
 31  away_team_country_id             1 non-null      int64
 32  away_team_country_name           1 non-null      object
 33  away_team_managers_id            1 non-null      int64
 34  away_team_managers_name          1 non-null      object
 35  away_team_managers_nickname      1 non-null      object
 36  away_team_managers_dob           1 non-null      datetime64[ns]
 37  away_team_managers_country_id    1 non-null      int64
 38  away_team_managers_country_name  1 non-null      object
 39  metadata_data_version            1 non-null      object
 40  metadata_shot_fidelity_version   1 non-null      object
 41  metadata_xy_fidelity_version     1 non-null      object
 42  competition_stage_id             1 non-null      int64
 43  competition_stage_name           1 non-null      object
 44  stadium_id                       1 non-null      int64
 45  stadium_name                     1 non-null      object
 46  stadium_country_id               1 non-null      int64
 47  stadium_country_name             1 non-null      object
 48  referee_id                       1 non-null      int64
 49  referee_name                     1 non-null      object
 50  referee_country_id               1 non-null      int64
 51  referee_country_name             1 non-null      object
dtypes: datetime64[ns](6), int64(19), object(27)
memory usage: 544.0+ bytes

In [11]:
df_match.shape

(1, 52)

In [12]:
df_match.

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,...,competition_stage_id,competition_stage_name,stadium_id,stadium_name,stadium_country_id,stadium_country_name,referee_id,referee_name,referee_country_id,referee_country_name
0,3750201,2009-05-27,2009-05-27 20:45:00,2,0,available,scheduled,2021-11-07 14:20:01.699993,2021-06-13 16:17:31.694,1,...,26,Final,381,Estadio Olímpico,112,Italy,705,Massimo Busacca,221,Switzerland

In [ ]:
df

In [16]:
# match_id, home_team_id and home_team_name and adequately away_team_id and away_team_name.

In [28]:
df_lineup = parser.lineup(3750201)

In [30]:
df_lineup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_id        36 non-null     int64
 1   player_name      36 non-null     object
 2   player_nickname  36 non-null     object
 3   jersey_number    36 non-null     int64
 4   match_id         36 non-null     int64
 5   team_id          36 non-null     int64
 6   team_name        36 non-null     object
 7   country_id       36 non-null     int64
 8   country_name     36 non-null     object
dtypes: int64(5), object(4)
memory usage: 2.7+ KB