### Import libraries

In [2]:
import matplotlib.pyplot as plt
import numpy as np
from mplsoccer import Pitch, Sbopen, VerticalPitch

### Find Barcelona events

In [3]:
#open data with Sbopen parser
parser = Sbopen()

In [6]:
df_competition = parser.competition()
df_competition.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,16,4,Europe,Champions League,male,False,False,2018/2019,2022-08-14T16:57:15.866765,2021-06-13T16:17:31.694,None,2022-08-14T16:57:15.866765
1,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
2,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00

In [16]:
#show unique competitions to choose from
df_competition.competition_name.unique()

array(['Champions League', "FA Women's Super League", 'FIFA World Cup',
       'Indian Super league', 'La Liga', 'NWSL', 'Premier League',
       'UEFA Euro', "UEFA Women's Euro", "Women's World Cup"],
      dtype=object)

In [18]:
#what years are we working with
df_competition['season_name'].value_counts()

2018/2019    3
2009/2010    2
2018         2
2019/2020    2
2020/2021    2
2003/2004    2
2017/2018    2
2006/2007    2
2008/2009    2
2004/2005    2
2010/2011    2
2011/2012    2
2012/2013    2
2013/2014    2
2014/2015    2
2015/2016    2
2016/2017    2
1999/2000    1
2021/2022    1
2007/2008    1
2005/2006    1
2020         1
2022         1
2019         1
Name: season_name, dtype: int64

According to this [page on Wikipedia](https://en.wikipedia.org/wiki/2008%E2%80%9309_FC_Barcelona_season), Pep Guardiola's first season as manager at Barcelona was 2008-2009.